<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>title</title>
 <link rel="stylesheet" href="./css/styles.css" type="text/css">
 <script src="../js/login.js"></script>

 </head>
 <body>



  <h1> Login </h1>

  <button onclick="window.location.href = 'http://localhost:3000/';">Home</button>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

 </body>
</html>
